html
 head 
 title="contact"
 style. 
   .para {
       text-align : center ;
       color : #ababab ;
   }
   .para1 {
       width : 300px ;
      margin : 20px auto ;
      border : 2px solid #aaa ;
      padding :20px ;
      color : #fff ;
      background : rgba(0,0,0,0.8) ;
   }
   h3 {
      color : grey ;
      text-indent:40px
  }
   .nav {
      list-style : none ;
      
      display : flex ;
      justify-content : center ;
      align-items : center ;    }
   .nav-item {
      text-decoration: none ;
      color:#000 ;
      margin : 15px ;
      font-size :1.5rem ;
    }
 body 
div.navbar 
    ul.nav 
      li.nav-item 
       a.nav-item(href = "/home")  Home
      li.nav-item  
       a.nav-item(href = "/service") Service
      li.nav-item   
       a.nav-item(href = "/contact") Contact


//- include ./navbar.pug 

//- a(href = "/home") home
//- a(href = "/contact") contact
//- a(href = "/service") service

h3 The contacts page
 p.para Hello from the contact page 
 ul 
  li contact1
  li contact2 
  li contact3
 p.para1 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam aliquid quod fuga dolor reiciendis provident dolorum, iste magni blanditiis possimus error? Suscipit ea itaque placeat hic, soluta labore aut quod. 