style. 
    .navbar {

    }
    .nav {
      list-style : none ;
      display : flex ;
      justify-content : center ;
      align-items : center ;    }
    .nav-item {
      color:#aaa ;
      margin : 15px ;
      font-size :1.5rem ;
    }


div.navbar 
    ul.nav 
      li.nav-item 
       a(href = "/home")  
      li.nav-item  
      a(href = "/service") service
      li.nav-item   
      a(href = "/contact") contact

     