html
 head 
 title="service"
 style. 
  .ser {
       width : 300px ;
      margin : 100px  ;
      border : 2px solid #aaa ;
      padding :20px ;
      color : #fff ;
      background : rgba(0,0,0,0.8) ;
  }
  h3 {
      color : grey ;
      text-indent:40px
  }
   .nav {
      list-style : none ;
      
      display : flex ;
      justify-content : center ;
      align-items : center ;    }
   .nav-item {
      text-decoration: none ;
      color:#000 ;
      margin : 15px ;
      font-size :1.5rem ;
    }

 body 
 
 div.navbar 
    ul.nav 
      li.nav-item 
       a.nav-item(href = "/home")  Home
      li.nav-item  
       a.nav-item(href = "/service") Service
      li.nav-item   
       a.nav-item(href = "/contact") Contact


//- a(href = "/home") home
//- a(href = "/contact") contact
//- a(href = "/service") service

h3 The services page 
 p.ser Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, blanditiis. Assumenda, dolores expedita aspernatur porro ipsum non corporis provident id blanditiis quidem ex qui cumque recusandae nihil illum quaerat. Quam?